header.header
    .header__logo.logo
        a(href="#").logo__link
            img(src="img/logo.svg").logo__img
    .header__nav
        nav.nav
            - var navs = [{title: "о нас", sec: "1"}, {title: "бургеры", sec: "2"}, {title: "команда", sec: "3"}, {title: "меню", sec: "4"}, {title: "отзывы", sec: "5"}, {title: "контакты", sec: "7"}]
            ul.nav__list
                each nav, i in navs
                    li.nav__item
                        a(href=`#section-${i + 1}` data-section=`${nav.sec}`).nav__link= nav.title
    .header__btns
        button(data-section="6").btn.btn--orange.btn--order заказать
        .btn-menu#gamburger
            span.btn-menu__line
            span.btn-menu__line
            span.btn-menu__line