.favorite {
	background-image: url("../img/favorite.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	&__container {
		align-items: center;
		justify-content: center;
	}

	&__title {
		margin-bottom: rem(68px);
	}

	&__list {
		display: flex;

		@include phones {
			flex-direction: column;
		}
	}

	&__item {
		margin-left: rem(10px);
		text-align: center;
		display: flex;
		flex: 1;
		flex-direction: column;

		&:first-child {
			margin-left: 0;
		}

		@include phones {
			flex-direction: row;
			text-align: left;
			margin-bottom: rem(30px);
			margin-left: 0;
		}
	}

	&__img {
		margin-bottom: rem(25px);
	}

	&__icon {
		width: rem(97px);
		height: rem(89px);

		&--meat {
			fill: darken($orange, 3%);
		}
		&--hand {
			fill: lighten($yellow, 3%);
		}
		&--natural {
			fill: $green;
		}
	}

	&__text {

		@include phones {
			margin-left: 20px;
		}
	}

	&__subtitle {
		color: $gray;
		font-family: 'Lifehack';
		font-size: rem(24px);
		font-weight: 500;
		margin-bottom: rem(13px);
		display: inline-block;
		line-height: 1.2;
	}

	&__body {
		color: $gray;
		font-weight: 300;
		font-size: rem(14px);
		line-height: 1.71;
	}
}