.map {
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.contact {
	color: $white;
	font-family: 'Ubuntu';
	font-size: rem(14px);
	font-weight: 300;

	&__address {
		margin-bottom: rem(5px);
	}

	&__phone {
		font-weight: 700;
		text-decoration: none;
		color: $orange;
	}

	&__icon {
		width: rem(12px);
		height: rem(11px);
		fill: $orange;
	}

	&__number {
		margin-left: rem(8px);
	}
}

.social {

	&__item {
		display: inline-block;
		margin-left: rem(15px);

		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		display: inline-block;
		font-family: 'FontAwesome';
	}

	&__icon {
		width: rem(20px);
		height: rem(20px);
		fill: rgba($white, .3);
		@include transitio();

		&:hover {
			fill: $white;
		}
	}
}

.footer {
	background-image: url("../img/footer.jpg");
	background-color: rgba($gray, .5);
	padding: rem(7px) 0;

	&__contact {
		@include phones {
			text-align: center;
			margin-bottom: 15px;
		}
	}

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@include phones {
			flex-direction: column;
		}
	}
}