.menu {
	background-image: url("../img/menu.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	&__title {
		position: absolute;
		top: 12.6%;
		left: 8.6%;

		@include tablets {
			top: 11%;
			left: 4.4%;
			letter-spacing: rem(2.5px);
		}

		@include phones {
			top: 5%;
			left: 12.8%;
			letter-spacing: rem(1px);
		}
	}

	&__list {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
	}

	&__item {
		height: 100%;
		display: flex;

		&--active {

			.menu__name {
				color: $yellow;
			}
		}
	}

	&__desc {
		width: 0;
		overflow: hidden;
		height: 100%;
		background-color: rgba($gray, .93);
		@include transitio();
	}

	&__text {
		font-family: 'Ubuntu';
		font-weight: 300;
		color: $white;
		line-height: 1.5;
		padding: rem(60px) rem(30px);
		width: 100%;
	}

	&__link {
		width: rem(80px);
		height: 100%;
		display: block;
		background-size: cover;
	    background-repeat: no-repeat;
		background-position: 50%;
		text-decoration: none;
		position: relative;

		@include tablets {
			width: rem(83px);
		}

		@include phones {
			width: rem(91.5px);
		}

	    @for $i from 1 to 4 {
		  &--#{$i} {
		  	background-image: url('../img/menu/menu-#{$i}.jpg');
		  }
		}

		&:before {
			background-color: rgba($gray, .7);
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
		}
	}

	&__name {
		font-size: rem(40px);
		font-family: 'Gagalin';
		color: $white;
		text-align: center;
		white-space: nowrap;
		position: absolute;
		transform: rotate(-90deg) translate(-50%, -50%);
		transform-origin: 0 0;
		left: 50%;
		top: 50%;
		@include transitio();
	}
}