.order {
	background-image: url("../img/order.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	&__container {
		align-items: center;
		justify-content: center;
	}

	&__title {
		margin-bottom: rem(85px);
	}
}

.form {
	&__content {
		display: flex;

		@include tablets {
			flex-direction: column;
		}
	}

	&__col {
		margin-left: rem(20px);
		flex: 1;

		&:first-child {
			margin-left: 0;
		}

		@include tablets {
			margin-left: 0;
			padding: 0 20%;
		}
	}

	&__row {
		display: flex;
		margin-bottom: rem(13px);
	}

	&__label {
		flex: 1;
		margin-left: rem(20px);

		&--row {
			display: flex;
			flex: initial;
		}

		&:first-child {
			margin-left: 0;
		}

		&-text {
			display: block;
			color: $white;
			font-weight: 300;
			font-size: rem(14px);
			margin-bottom: rem(8px);
			cursor: pointer;
		}

		&-input {
			border-radius: rem(5px);
			border: rem(1px) solid $lightgray;
			outline: none;
			padding: rem(5px) rem(10px);
			width: 100%;

			&--area {
				height: rem(100px);
				resize: none;
			}
		}
	
	}

	&__controls {
		display: flex;
		align-items: center;
		margin-right: rem(15px);
		color: $white;
		font-weight: 300;
		font-size: rem(14px);
		cursor: pointer;

		&-radio, &-checkbox {
			position: absolute;
		    left: rem(-9999px);
		}

		&-circle {
			@include circle(rem(15px));
			margin-right: rem(10px);
			display: flex;

			&:after {
				content: "";
				transform: scale(0);
				@include circle(100%, $orange);
				@include transitio();
			}
		}

		&-square {
			width: rem(15px);
			height: rem(15px);
			background-color: $white;
			display: flex;
			margin-right: rem(10px);

			&:after {
				content: "";
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA/UlEQVRYR+2X2xGDQAhFsbKkFFNZTCnpLENGHHQWuOxDf/RXl3NkgdWJLr6mi/l0C5yZgZmIHkT00tt+lgDD3yt40RJnCGi4vPwmMVqgBN9JjBTw4JvEKAEEzhKfEQIwnIjm3gIpOKegJFDsV2Bkp+ElAbNfA4Eq+FHA7VdHoBquBcJ+NQSa4CKABNmNz1UGWfdvNa52K4NchGggLYGuceHoFmh5lviqg8WrzRCOFCHQfcVHIHjUhsPh3iCSszsrAb+5BLZGMVpkWjANtzIgQTMSVfBIgO8jEtVwRCCSaIKjApZEMzwjcJToAs8KiMTTm+3Zvu39RZTl3/+G9AM9yzxgiZaOZQAAAABJRU5ErkJggg==);
				background-repeat: no-repeat;
				background-position: center;
				background-size: rem(12px);
				width: 100%;
				height: 100%;
				transform: scale(0);
				@include transitio();
			}
		}

		&-radio:checked + .form__controls-circle {

			&:after {
				transform: scale(.5);
			}
		}

		&-checkbox:checked + .form__controls-square {

			&:after {
				transform: scale(1);
			}
		}
	}
}