.order {
	background-image: url("../img/order.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&__container {
		align-items: center;
		justify-content: center;
	}

	&__title {
		margin-bottom: rem(63px);

		@include tablets {
			margin-bottom: rem(75px);
		}

		@include phones {
			padding: 0 10%;
			letter-spacing: rem(1px);
			line-height: 1.2;
			margin-bottom: rem(35px);
		}
	}

	&__popup {
		text-align: center;
	}
}

.form {
	&__content {
		display: flex;

		@include tablets {
			flex-direction: column;
		}
	}

	&__col {
		margin-left: rem(20px);
		flex: 1;

		&:first-child {
			margin-left: 0;
		}

		@include tablets {
			margin-left: 0;
			padding: 0 17.8%;
			margin-bottom: rem(18px);
		}

		@include phones {
			padding: 0;
		}
	}

	&__row {
		display: flex;
		margin-bottom: rem(15px);

		&:last-child {
			margin-bottom: 0;
		}

		&_controls {
			@include phones {
				justify-content: center;
				padding-top: rem(18px);
			}
		}

		@include tablets {
			margin-bottom: rem(20px);
		}
	}

	&__label {
		flex: 1;
		margin-left: rem(20px);
		position: relative;

		&--row {
			display: flex;
		}

		&:first-child {
			margin-left: 0;
		}

		&-text {
			display: block;
			color: $white;
			font-weight: 300;
			font-size: rem(14px);
			margin-bottom: rem(6px);
			cursor: pointer;
		}

		&-input {
			border-radius: rem(5px);
			border: rem(1px) solid $lightgray;
			outline: none;
			padding: rem(7.5px) rem(10px);
			width: 100%;
			@include transitio();

			@include phones {
				padding: rem(10px);
			}

			&--area {
				height: rem(109px);
				resize: none;

				@include tablets {
					height: rem(115px);
				}

				@include phones {
					height: rem(125px);
				}
			}

			&--error {
				border: rem(1px) solid $red;
				background-color: lighten($red, 30%);
			}
		}
	
	}

	&__controls {
		display: flex;
		align-items: center;
		margin-left: rem(19px);
		color: $white;
		font-weight: 300;
		font-size: rem(14px);
		cursor: pointer;

		&:first-child {
			margin-left: 0;
		}

		&-radio, &-checkbox {
			position: absolute;
		    left: rem(-9999px);
		}

		&-circle {
			@include circle(rem(15px));
			margin-right: rem(10px);
			display: flex;

			&:after {
				content: "";
				transform: scale(0);
				@include circle(100%, $orange);
				@include transitio();
			}
		}

		&-square {
			width: rem(15px);
			height: rem(15px);
			background-color: $white;
			display: flex;
			margin-right: rem(10px);

			&:after {
				content: "";
				background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNDQyLjUzMyA0NDIuNTMzIiBpZD0iY2hlY2siIGZpbGw9IiNlNDUwMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQzNC41NCA5OC41bC0zOC44My0zOC44M2MtNS4zMjMtNS4zMjctMTEuNzk4LTcuOTkyLTE5LjQxLTcuOTkyLTcuNjE3IDAtMTQuMDkyIDIuNjY1LTE5LjQxNiA3Ljk5M0wxNjkuNTkgMjQ3LjI1bC04My45NC04NC4yMjVjLTUuMzMtNS4zMy0xMS44LTcuOTkyLTE5LjQxLTcuOTkyLTcuNjE3IDAtMTQuMDg4IDIuNjYzLTE5LjQxOCA3Ljk5M2wtMzguODI4IDM4LjgzQzIuNjY0IDIwNy4xOCAwIDIxMy42NTIgMCAyMjEuMjY4YzAgNy42MDggMi42NjQgMTQuMDg3IDcuOTk0IDE5LjQxNWwxMDMuMzUgMTAzLjM1IDM4LjgzMiAzOC44MjdjNS4zMjcgNS4zMzIgMTEuOCA3Ljk5NCAxOS40MTQgNy45OTQgNy42MSAwIDE0LjA4NC0yLjY3IDE5LjQxNC03Ljk5NGwzOC44My0zOC44MjhMNDM0LjU0IDEzNy4zM2M1LjMyNC01LjMzIDcuOTkzLTExLjgwMiA3Ljk5My0xOS40MTcuMDA0LTcuNjEtMi42Ny0xNC4wODQtNy45OTQtMTkuNDE0eiIvPjwvc3ZnPg==);
				background-repeat: no-repeat;
				background-position: center;
				background-size: rem(12px);
				width: 100%;
				height: 100%;
				transform: scale(0);
				@include transitio();
			}
		}

		&-radio:checked + .form__controls-circle {

			&:after {
				transform: scale(.5);
			}
		}

		&-checkbox:checked + .form__controls-square {

			&:after {
				transform: scale(1);
			}
		}
	}
}