.preview {
	background: url('../img/preview.jpg') center no-repeat;
	background-size: cover;
	display: flex;
	position: relative;
	justify-content: center;

	&:before {
		content: "";
		@include pos-cover();
		background-color: rgba($lightblack, .31);
		background-image:
			linear-gradient(90deg,
				rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 20%,
				rgba(255, 255, 255, .02) 20%, rgba(255, 255, 255, .02) 40%,
				rgba(255, 255, 255, .04) 40%, rgba(255, 255, 255, .04) 60%,
				rgba(255, 255, 255, .06) 60%, rgba(255, 255, 255, .06) 80%,
				rgba(255, 255, 255, .08) 80%, rgba(255, 255, 255, .08) 100%
			),

			linear-gradient(-180deg,rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 20%,
				rgba(255, 255, 255, .02) 20%, rgba(255, 255, 255, .02) 40%,
				rgba(255, 255, 255, .04) 40%, rgba(255, 255, 255, .04) 60%,
				rgba(255, 255, 255, .06) 60%, rgba(255, 255, 255, .06) 80%,
				rgba(255, 255, 255, .08) 80%, rgba(255, 255, 255, .08) 100%
			)
		;
		background-size: rem(3px) rem(3px);
	}

	&__container {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 20%;
	}

	&__intro {
		display: flex;

		@include tablets {
			flex-direction: column;
			align-items: center;
			text-align: center;
			padding: 0 10%;
		}
	}

	&__burger, &__text {
		flex-basis: 50%;

		@include tablets {
			width: 100%;
		}
	}
	&__burger {
		@include tablets {
			margin-bottom: rem(30px);
		}
		
		@include phones {
			margin-bottom: rem(40px);
		}
	}

	 &__text {
		display: flex;
	 	flex-direction: column;
		justify-content: center;
		padding-left: rem(12px);

		@include tablets {
			justify-content: flex-start;
			padding-left: 0;
		}
	 }

	 &__image {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
	 }

	 &__title {
		 padding-top: rem(33px);
		 margin-bottom: rem(14px);

		 @include tablets {
			 padding-top: 0;
			 margin-bottom: rem(35px);
			 letter-spacing: rem(3px);
		 }

		 @include phones {
			 letter-spacing: 0;
			 margin-bottom: rem(10px);
		 }
	 }

	 &__subtitle {
	 	color: $white;
	 	font-family: 'Lifehack';
	 	font-size: rem(65px);
	 	font-weight: 500;
		letter-spacing: rem(-1.7px);
		line-height: 0.923;

		@include tablets {
			letter-spacing: rem(1px);
		}

		@include phones {
			letter-spacing: rem(-3px);
		}
	 }

	 &__arrow {
	 	position: absolute;
		bottom: rem(35px);
	 	@include transitio();
	 	animation-duration: 2s;
	 	animation-name: fade-down;
	 	animation-iteration-count: infinite;

	 	&:hover {
	 		transform: scale(1.2);
	 	}
	 }
}

@keyframes fade-down {
	0% {
		transform: translate(0,0);
		opacity: 0;
	}
	40%, 60% {
		opacity: 1;
	}
	100% {
		transform: translate(0,rem(10px));
		opacity: 0;
	}
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include tablets {
		padding: rem(2px) rem(8px);
	}

	&__nav {
		margin-left: auto;

		// @include tablets {
		// 	display: none;
		// }


	}

	&__btns {
		margin: 0 rem(4px) 0 rem(7px);
		display: flex;
		align-items: center;
	}

	&__logo {
		padding-top: rem(10px);
		margin-left: rem(-6px);
		z-index: 12;
	}
}
.logo {

	&__link {
		display: inline-block;
	}

	&__img {
		width: 100%;
	}
}

.nav {

	&__list {
		display: flex;
	}

	&__item {
		display: flex;
		align-items: center;

		&:before {
			content: '';
			display: block;
			@include circle(rem(4px));
			margin: 0 rem(9.5px);
		}

		&:first-child:before {
			display: none;
		}
	}

	&__link {
		color: $white;
		font-size: rem(13px);
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		position: relative;
		padding: rem(6px);

		&:after {
			content: "";
			position: absolute;
			bottom: rem(4px);
			left: 0;
			right: 0;
			background: $white;
			width: 0;
			height: rem(1px);
			margin: auto;
			@include transitio();
		}

		&:hover {
			&:after {
				width: 88%;
			}
		}
	}

	@include tablets {
		position: fixed;
		display: block;
		visibility: hidden;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 11;
		@include transitio();
	
		&:before, &:after {
			content: "";
			background: rgba($gray, .99);
			position: absolute;
			top: 0;
			width: 0vw;
			height: 100vh;
			z-index: 11;
			@include transitio(width);
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}

		&__list {
			display: flex;
			position: absolute;
			top: -100%;
			opacity: 0;
			flex-direction: column;
			justify-content: center;
			position: absolute;
			height: 100vh;
			width: 100vw;
			z-index: 12;
			transition-delay: 1s;
			@include transitio(opacity);
			
		}

		&__item {
			flex-direction: column;

			&:before {
				@include circle(rem(7px));
				margin: rem(21px) 0;
			}
		}

		&__link {
			line-height: 1;
			font-size: rem(24px);
			font-weight: 400;
		}

		&--active {
			visibility: visible;

			.nav__list {
				top: 0;
				opacity: 1;
			}

			&:before, &:after {
				width: 50vw;
			}
		}
	}
}

.btn-menu {
	width: 24px;
	height: 22px;
	cursor: pointer;
	display: none;
	margin-left: rem(30px);
	z-index: 11;
    position: relative;
    transform: rotate(0deg);
    @include transitio();
    cursor: pointer;

	@include tablets {
		display: block;
		margin-left: 32px;
	}

	&__line {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background-color: $white;
		opacity: 1;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		pointer-events: none;
		will-change: transform;
		left: 0;
		border-radius: 2px;

		&:nth-child(1) {
			top: 0;
		}
		  
		&:nth-child(2) {
			top: 9px;
		}
		  
		&:nth-child(3) {
			top: 18px;
		}
	}

	&--open {

		.btn-menu {

			&__line {

				&:nth-child(1) {
					top: rem(9px);
					transform: rotate(45deg);
				}

				&:nth-child(2) {
					opacity: 0;
				}
				  
				&:nth-child(3) {
					top: rem(9px);
					transform: rotate(-45deg);
				}
			}
		}
	}
}