.preview {
	background: url('../img/preview.jpg') center no-repeat;
	background-size: cover;
	display: flex;
	position: relative;
	justify-content: center;

	&:before {
		content: "";
		@include pos-cover();
		background-color: rgba($lightblack, .31);
		background-image:
			linear-gradient(90deg,
				rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 20%,
				rgba(255, 255, 255, .02) 20%, rgba(255, 255, 255, .02) 40%,
				rgba(255, 255, 255, .04) 40%, rgba(255, 255, 255, .04) 60%,
				rgba(255, 255, 255, .06) 60%, rgba(255, 255, 255, .06) 80%,
				rgba(255, 255, 255, .08) 80%, rgba(255, 255, 255, .08) 100%
			),

			linear-gradient(-180deg,rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 20%,
				rgba(255, 255, 255, .02) 20%, rgba(255, 255, 255, .02) 40%,
				rgba(255, 255, 255, .04) 40%, rgba(255, 255, 255, .04) 60%,
				rgba(255, 255, 255, .06) 60%, rgba(255, 255, 255, .06) 80%,
				rgba(255, 255, 255, .08) 80%, rgba(255, 255, 255, .08) 100%
			)
		;
		background-size: rem(3px) rem(3px);
	}

	&__container {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 20%;
	}

	&__intro {
		display: flex;

		@include tablets {
			flex-direction: column;
			align-items: center;
			text-align: center;
			padding: 0 10%;
		}
	}

	&__burger, &__text {
		flex-basis: 50%;

		@include tablets {
			width: 100%;
		}
	}
	&__burger {
		@include tablets {
			margin-bottom: rem(30px);
		}
		
		@include phones {
			margin-bottom: rem(40px);
		}
	}

	 &__text {
		display: flex;
	 	flex-direction: column;
		justify-content: center;
		padding-left: rem(12px);

		@include tablets {
			justify-content: flex-start;
			padding-left: 0;
		}
	 }

	 &__image {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
	 }

	 &__title {
		 padding-top: rem(33px);
		 margin-bottom: rem(14px);

		 @include tablets {
			 padding-top: 0;
			 margin-bottom: rem(35px);
			 letter-spacing: rem(3px);
		 }

		 @include phones {
			 letter-spacing: 0;
			 margin-bottom: rem(10px);
		 }
	 }

	 &__subtitle {
	 	color: $white;
	 	font-family: 'Lifehack';
	 	font-size: rem(65px);
	 	font-weight: 500;
		letter-spacing: rem(-1.7px);
		line-height: 0.923;

		@include tablets {
			letter-spacing: rem(1px);
		}

		@include phones {
			letter-spacing: rem(-3px);
		}
	 }

	 &__arrow {
	 	position: absolute;
		bottom: rem(35px);
	 	@include transitio();
	 	animation-duration: 2s;
	 	animation-name: fade-down;
	 	animation-iteration-count: infinite;

	 	&:hover {
	 		transform: scale(1.2);
	 	}
	 }
}

.arrow__icon {
	width: rem(30px);
	height: rem(14px);
	fill: $white;
}

@keyframes fade-down {
	0% {
		transform: translate(0,0);
		opacity: 0;
	}
	40%, 60% {
		opacity: 1;
	}
	100% {
		transform: translate(0,rem(10px));
		opacity: 0;
	}
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include tablets {
		padding: rem(2px) rem(8px);
	}

	&__nav {
		margin-left: auto;

		@include tablets {
			display: none;
		}
	}

	&__btns {
		margin: 0 rem(4px) 0 rem(7px);
		display: flex;
		align-items: center;
	}

	&__logo {
		padding-top: rem(10px);
		margin-left: rem(-6px);
	}
}
.logo {

	&__link {
		display: inline-block;
	}

	&__img {
		width: 100%;
	}
}

.nav {

	&__list {
		display: flex;
	}

	&__item {
		display: flex;
		align-items: center;

		&:before {
			content: '';
			display: block;
			@include circle(rem(4px));
			margin: 0 rem(9.5px);
		}

		&:first-child:before {
			display: none;
		}
	}

	&__link {
		color: $white;
		font-size: rem(13px);
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		position: relative;
		padding: rem(6px);

		&:after {
			content: "";
			position: absolute;
			bottom: rem(4px);
			left: 0;
			right: 0;
			background: $white;
			width: 0;
			height: rem(1px);
			margin: auto;
			@include transitio();
		}

		&:hover {
			&:after {
				width: 88%;
			}
		}
	}
}

.btn-menu {
	width: rem(24px);
	height: rem(22px);
	cursor: pointer;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	margin-left: rem(30px);

	@include tablets {
		display: flex;
		margin-left: rem(32px);
	}

	&__line {
	  background-color: $white;
	  height: rem(4px);
	  border-radius: rem(2px);
	  pointer-events: none;
	}
}