.reviews {

	&__list {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		width: 25%;
		height: 50%;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		filter: grayscale(100%);
		display: flex;

		&:hover {

			.reviews__shadow {
				opacity: 1;
	    		transform: scale(1);
			}
		}
		
		@include tablets {
			width: 50%;
			height: 25%;
		}
	}

	&__img {
		display: none;
	}

	&__shadow {
		background-color: rgba(darken($gray, 20%), .7);
	    padding: rem(46px) rem(20px);
	    transform: scale(.8);
	    opacity: 0;
	    @include transitio();
	}

	&__title {
		font-family: 'Gagalin';
		font-size: rem(14px);
		color: $white;
		margin-bottom: rem(19px);
		font-weight: 400;
	}

	&__body {
		font-size: rem(14px);
		line-height: 1.75;
		color: $white;
		font-weight: 300;
		margin-bottom: rem(12px);
	}
}