.team {
	background: url("../img/team.jpg") no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;

	&__about {
		background-color: rgba($gray, .93);
		height: 100%;
		flex-basis: 48.9%;
		padding: rem(60px) 0 0 rem(80px);
		display: flex;
		flex-direction: column;

		@include tablets {
			flex-basis: 100%;
			align-items: center;
			padding-left: 0;
		}
	}

	&__title {
		margin-bottom: rem(59px);
	}

	&__item {
		margin-bottom: rem(25px);

		&--active {
			.team__link {
				color: $yellow;

				&:before {
					transform: scaleY(-1);
				}
			}
			.team__inner {
				display: flex;
				
				@include tablets {
					flex-direction: column;
					align-items: center;
				}
			}
		}

		@include tablets {
			text-align: center;
		}
	}

	&__link {
		color: $white;
		font-family: 'Gagalin';
		font-size: rem(14px);
		text-decoration: none;
		font-weight: 400;
		position: relative;
		display: inline-flex;
		align-items: center;

		&:before {
			content: "";
			margin-right: rem(8px);
			width: 0;
			height: 0;
			border-left: rem(4px) solid transparent;
			border-right: rem(4px) solid transparent;
			border-top: rem(6px) solid $yellow;
			@include transitio();
		}
	}

	&__inner {
		display: none;
		padding: rem(12px) 0 rem(10px) 0;

		&-photo {
			@include circle(rem(100px));
			margin: rem(3px) rem(21px) 0 rem(17px);
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-text {
			width: rem(230px);
			color: $white;
			font-size: rem(14px);
			font-family: 'Ubuntu';
			font-weight: 300;
		}

		&-post {
			display: inline-block;
			font-weight: 700;
			margin-bottom: rem(15px);
		}

		&-detailed {
			line-height: rem(24px);
		}

		&-img {
			height: 100%;
		}
	}
}