section.section.menu#section-5
	h2.menu__title.section__title.section__title--white Меню
	- var menu = ['для мясоедов', 'вегетарианское', 'диетическое']
	ul.menu__list
		each item, i in menu
			li.menu__item
				a(href="#" class="menu__link menu__link--" + (i + 1))
					span.menu__name= item
				.menu__desc
					p.menu__text Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр.
						| Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову.
