section.section.team#section-4
	.team__about
		.team__content
			h2.team__title.section__title.section__title--yellow Команда
			- var team = ['дэниэл редклиф', 'ричард джеймс', 'джейк финн', 'николай иванов']
			ul.team__list
				each item, i in team
					li.team__item
						a(href="#").team__link= item
						.team__inner
							.team__desc
								.team__desc-photo
									img(src="img/face.jpg").team__desc-img
								.team__desc-text
									span.team__desc-post Оператор
									p.team__desc-detailed С радостью поможет подобрать идеальный бургер и оформить заказ.