doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Mr. Burger
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    link(rel="icon" type="image/x-icon" href="favicon.ico")

    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/main.css')

  body
    .wrapper
        .main
            include section/_preview
            include section/_favorite
            include section/_burgers
            include section/_team
            include section/_menu
            include section/_reviews
            include section/_order
            include section/_map
        .points
            - var n = 0;
            ul.points__list
                while n < 8
                    li.points__item
                        a(href="#section-" + (n + 1) data-section=`${n}`).points__link
                            - n++;
    
    script(src="js/vendor/jquery.min.js")
    script(src="js/vendor/jquery.mousewheel.min.js")
    script(src="js/script.js")