.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: rem(940px);
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.main {
	height: 100%;
	position: relative;
	top: 0;
	transition: top 1s;
}

.section {
	height: 100%;
	background-color: rgba($black, 0.31);
	min-height: rem(650px);

	&__title {
		font-family: 'Gagalin';
		font-size: rem(72px);
		font-weight: 400;
		margin: 0;

		&--yellow {
			color: $yellow;
		}

		&--white {
			color: $white;
		}

		&--black {
			color: $gray;
		}

		@include tablets {
			text-align: center;
		}

		@include phones {
			font-size: rem(55px);
		}
	}
}

.points {
	position: fixed;
    top: rem(90px);
    right: rem(40px);
	z-index: 10;

	&__item {
		margin-bottom: rem(15px);
	}

	&__link {
		display: block;
		position: relative;
		@include circle(rem(6px));

		&:after {
			content: "";
			@include circle($color: rgba($white, 0));
			@include pos-center();
			@include transitio();
			border: rem(1px) solid #fff;
		}

		&:hover, &--active {

			&:after {
				width: rem(16px);
				height: rem(16px);
			}
		}
	}
}

.btn {
	min-width: rem(98px);
	text-decoration: none;
	font-size: rem(13px);
	font-weight: 500;
	text-transform: uppercase;
	color: $white;
	border-radius: rem(5px);
	padding: rem(10px) rem(16px);
	border: none;
	outline: none;
	cursor: pointer;
	display: inline-block;
	font-family: "Ubuntu";
	@include transitio(background-color);

	@include tablets {
		letter-spacing: rem(1.3px);
	}

	&--orange {
		background-color: $orange;

		&:hover {
			background-color: darken($orange, 7%);
		}
	}
	
	&--gray {
		background-color: $gray;
		padding: rem(8.5px) rem(15px);

		&:hover {
			background-color: darken($gray, 7%);
		}

		@include phones {
			padding: rem(9.5px) rem(23px);
		}
	}

	&--transparent {
		text-transform: capitalize;
		background-color: rgba($white, 0);
		font-size: rem(14px);
		font-weight: 300;
	}
	
}

.arrow-icon {
	width: rem(30px);
	height: rem(14px);
	fill: $white;

	&--prev {
		transform: rotate(90deg);
	}
	
	&--next {
		transform: rotate(-90deg);
	}
}