@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/gagalin-regular.eot');
    src: url('../fonts/gagalin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gagalin-regular.woff2') format('woff2'),
         url('../fonts/gagalin-regular.woff') format('woff'),
         url('../fonts/gagalin-regular.ttf') format('truetype'),
         url('../fonts/gagalin-regular.svg#gagalin-regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lifehack';
    src: url('../fonts/Lifehack-Medium.eot');
    src: url('../fonts/Lifehack-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lifehack-Medium.woff2') format('woff2'),
         url('../fonts/Lifehack-Medium.woff') format('woff'),
         url('../fonts/Lifehack-Medium.ttf') format('truetype'),
         url('../fonts/Lifehack-Medium.svg#Lifehack-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}