section.section.burgers#section-3
    .burgers__carousel.carousel
        include ../partials/_slider
        .carousel__controls.carousel__controls--prev
            a(href="#" data-contrl="-1").carousel__link
                svg.arrow-icon.arrow-icon--prev
                    use(xlink:href="img/sprite.svg#arrow-scroll")
        .carousel__controls.carousel__controls--next
            a(href="#" data-contrl="1").carousel__link
                svg.arrow-icon.arrow-icon--next
                    use(xlink:href="img/sprite.svg#arrow-scroll")