section.section.favorite#section-2
    .container.favorite__container
        h2.favorite__title.section__title.section__title--black Мы лучшие
        ul.favorite__list
            li.favorite__item
                .favorite__img
                    img(src="img/favorite/meat.svg")
                span.favorite__subtitle 100% свежее мясо
                p.favorite__body
                    | Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
            li.favorite__item
                .favorite__img
                    img(src="img/favorite/hand.svg")
                span.favorite__subtitle Ручная сборка
                p.favorite__body
                    | Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Первое полустишие притягивает сюжетный реформаторский пафос.
            li.favorite__item
                .favorite__img
                    img(src="img/favorite/natural.svg")
                span.favorite__subtitle Натуральные ингредиенты
                p.favorite__body
                    | Драма представляет собой деструктивный цикл. Анапест представляет собой анапест.