section.section.map#section-8
	footer.footer
		.container.footer__container
			.footer__contact
				.contact
					p.contact__address Санкт-Петербург, ул.Бабушкина, д.12/1, 15
					a(href="tel:+78123771377").contact__phone +7 (812) 377-13-77
			.footer__social
				.social
					- var socials = ['vk', 'facebook-official', 'instagram', 'twitter']
					ul.social__list
						each social in socials
							li.social__item
								a(href="#" class="social__link")
									i(class="fa fa-" + social aria-hidden="true")