section.section.order#section-7
    .container.order__container
        h2.order__title.section__title.section__title--yellow Закажите доставку
        .order__form.form
            form.form__tag
                .form__col
                    .form__row
                        .form__elem.form__elem--middle
                            label.form__elem-title Имя
                            input.form__input
                        .form__elem.form__elem--middle
                            label.form__elem-title Телефон
                            input.form__input
                    .form__row
                        .form__elem.form__elem--big
                            label.form__elem-title Улица
                            input.form__input
                    .form__row
                        .form__elem.form__elem--small
                            label.form__elem-title Дом
                            input.form__input
                        .form__elem.form__elem--small
                            label.form__elem-title Корпус
                            input.form__input
                        .form__elem.form__elem--small
                            label.form__elem-title Квартира
                            input.form__input
                        .form__elem.form__elem--small
                            label.form__elem-title Этаж
                            input.form__input
                .form__col
                    .form__row
                        .form__textarea.form__elem--big
                            label.form__elem-title Комментарий
                            textarea.form__input.form__input--area
                    .form__row
                        .form__radio.radio
                            label.radio__label
                                input(type="radio" name="pay").radio__label-elem
                                .radio__label-circle
                                span.radio__label-title Потребуется сдача
                            label.radio__label
                                input(type="radio" name="pay").radio__label-elem
                                .radio__label-circle
                                span.radio__label-title Оплата по карте
                    .form__row
                        .form__checkbox.checkbox
                            label.checkbox__label
                                input(type="checkbox" name="call").checkbox__label-elem
                                .checkbox__label-square
                                span.checkbox__label-title Не перезванивать
                    .form__row
                        .form__controls
                            button(type="submit").btn.btn--orange.form__submit Заказать
                            button(type="reset").btn.btn--transparent.form__reset Очистить