section.section.order#section-7
    .container
        h2.order__title.section__title.section__title--yellow Закажите доставку
        form.form#add_request
            .form__content
                .form__col
                    .form__row
                        label.form__label
                            span.form__label-text Имя
                            input(data-required name="name").form__label-input
                        label.form__label
                            span.form__label-text Телефон
                            input(data-required name="phone").form__label-input
                    .form__row
                        label.form__label
                            span.form__label-text Улица
                            input(name="street").form__label-input
                    .form__row
                        label.form__label
                            span.form__label-text Дом
                            input(name="house").form__label-input
                        label.form__label
                            span.form__label-text Корпус
                            input(name="housing").form__label-input
                        label.form__label
                            span.form__label-text Квартира
                            input(name="flat").form__label-input
                        label.form__label
                            span.form__label-text Этаж
                            input(name="floor").form__label-input
                .form__col
                    .form__row
                        label.form__label
                            span.form__label-text Комментарий
                            textarea(name="message").form__label-input.form__label-input--area
                    .form__row.form__row_controls
                        label.form__controls
                            input(type="radio" name="pay" value="Потребуется сдача").form__controls-radio
                            .form__controls-circle
                            span.form__controls-text Потребуется сдача
                        label.form__controls
                            input(type="radio" name="pay" value="Оплата по карте" checked).form__controls-radio
                            .form__controls-circle
                            span.form__controls-text Оплата по карте
                    .form__row.form__row_controls
                        label.form__controls
                            input(type="checkbox" name="call" value="1" checked).form__controls-checkbox
                            .form__controls-square
                            span.form__controls-text Не перезванивать
                    .form__row.form__row_controls
                        button(type="submit").btn.btn--orange.form__submit Заказать
                        button(type="reset").btn.btn--transparent.form__reset Очистить
    .popup.order__popup
        .popup__block
            .popup__text Сообщение отправлено
            .popup__btn.btn.btn--orange.popup-close закрыть