section.section.preview#section-1
    .container
        header.header
            .header__logo.logo
                a(href="#").logo__link
                    img(src="img/logo.svg").logo__img
            .header__nav
                nav.nav
                    - var navs = [{title: "о нас", href: "#section-2"}, {title: "бургеры", href: "#section-3"}, {title: "команда", href: "#section-4"}, {title: "меню", href: "#section-5"}, {title: "отзывы", href: "#section-6"},{title: "контакты", href: "#section-8"}]
                    ul.nav__list
                        each nav in navs
                            li.nav__item
                                a(href=`${nav.href}`).nav__link= nav.title
            .header__btns
                button.btn.btn--orange заказать
                .btn-menu#gamburger
                    span.btn-menu__line
                    span.btn-menu__line
                    span.btn-menu__line
        .preview__container
            .preview__intro
                .preview__burger
                    img(src="img/burger.png").preview__image
                .preview__text
                    h2.preview__title.section__title.section__title--yellow Мы делаем
                    p.preview__subtitle натуральные бургеры
    .preview__arrow.arrow
        a(href="#section-2").arrow__link
            svg.arrow-icon
                use(xlink:href="img/sprite.svg#arrow-scroll")