section.section.preview#section-1
    .container
        include ../partials/_header
        .preview__container
            .preview__intro
                .preview__burger
                    img(src="img/burger.png").preview__image
                .preview__text
                    h2.preview__title.section__title.section__title--yellow Мы делаем
                    p.preview__subtitle натуральные бургеры
    .preview__arrow.arrow
        a(href="#section-2" data-section="1" id="about").arrow__link
            svg.arrow-icon
                use(xlink:href="img/sprite.svg#arrow-scroll")