section.section.reviews#section-6
    - var n = 1;
    ul.reviews__list
        while n < 9
            li(style=`background-image: url(img/reviews/reviews-${n}.jpg)`).reviews__item
                img(src=`background-image: url(img/reviews/reviews-${n}.jpg)` alt="Константин Спилберг").reviews__img
                .reviews__shadow
                    h6.reviews__title Константин Спилберг
                    p.reviews__body
                        | Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                    a(href="#").reviews__btn.btn.btn--gray Подробнее
                - n++